// --- AUTOSTART ---
spawn-at-startup "foot" "--server"

prefer-no-csd

// --- INPUT ---
input {
    keyboard {
        xkb {
            layout "us,custom"
            variant ",dvp"
            options "grp:caps_toggle"
        }
        repeat-rate 100
        repeat-delay 400
    }

    touchpad {
        tap
        dwt
    }
}

hotkey-overlay {
    skip-at-startup
}


// window rules and appearance
window-rule {
  geometry-corner-radius 20

  clip-to-geometry true

  draw-border-with-background false
}

window-rule {
    match app-id="chromium"
    open-maximized true
}


layout {
    background-color "#acb0be"

    focus-ring {
        width 4
        active-color "#1e66f5"
    }
}

// -- OVERVIEW ---
overview {
    backdrop-color "#acb0be"
    workspace-shadow {
        off
    }
}

// --- OUTPUTS ---
output "eDP-1" {
    position x=0 y=0
}

output "HDMI-A-1" {
    focus-at-startup
}


// --- BINDS ---
binds {
    // Volume Controls
    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "-l" "1.0" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute        { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

    // Application Launchers
    Alt+A { spawn "footclient"; }
    Alt+D { spawn "fuzzel"; }
    Alt+U { spawn "sys-menu.fish"; }

    // Screenshot the entire screen
    Print { screenshot; }

    // Screenshot the currently focused window
    Alt+Shift+Print { screenshot-window; }

    // Interactive screenshot (lets you select a region)
    Alt+Print { screenshot-screen; }
    

    // Window Management
    Alt+Mod3+K { close-window; } 
    Alt+Shift+Comma { close-window; }

    // quit
    Alt+Shift+E { quit; }

    // Focus Navigation
    Alt+S { focus-column-left; }
    Alt+R { focus-column-right; }
    Alt+Left { focus-column-left; }
    Alt+Right { focus-column-right; }

    // Moving Windows 
    Alt+Mod5+R { move-column-right; }
    Alt+Delete { move-column-right; }
    Alt+Mod5+S { move-column-left; }
    Alt+Escape { move-column-left; }
    Alt+Mod5+Left { move-column-left; }
    Alt+Mod5+Down { move-window-down; }
    Alt+Mod5+Up { move-window-up; }
    Alt+Mod5+Right { move-column-right; }

    // View Modes
    Alt+I { maximize-column; }
    Alt+Z { toggle-window-floating; }
    Alt+J { maximize-window-to-edges; }

    // Workspaces 
    Alt+T { focus-workspace-up; }
    Alt+N { focus-workspace-down; }
    Alt+G { focus-workspace 1; }
    Alt+M { focus-workspace 2; }
    Alt+F { focus-workspace 3; }
    Alt+W { focus-workspace 4; }
    Alt+End { move-workspace-to-monitor-right; }
    Alt+Home { move-workspace-to-monitor-left; }
    Alt+Q { focus-monitor-right; }
    Alt+C { focus-monitor-left; }
    Alt+Shift+T    { move-workspace-up; }
    Alt+Shift+N  { move-workspace-down; }

    // Move Window to Workspaces 
    Alt+Mod5+N { move-column-to-workspace-down; }
    Alt+Tab { move-column-to-workspace-down; }
    Alt+Mod5+T { move-column-to-workspace-up; }
    Alt+Backspace { move-column-to-workspace-up; }
    Alt+Mod5+G { move-column-to-workspace 1; }
    Alt+Underscore { move-column-to-workspace 1; }
    Alt+Mod5+M { move-column-to-workspace 2; }
    Alt+Quotedbl{ move-column-to-workspace 2; }
    Alt+Mod5+F { move-column-to-workspace 3; }
    Alt+Dollar { move-column-to-workspace 3; }
    Alt+Mod5+W { move-column-to-workspace 4; }
    Alt+Question { move-column-to-workspace 4; }

    // Output Navigation
    Alt+F23 { focus-monitor-up; }
    Alt+F24 { focus-monitor-down; }

    // Resizing
    Alt+KP_Subtract { set-column-width "-30"; } 
    Alt+Shift+Equal { set-column-width "+30"; } 
    Alt+Equal { set-column-width "50%"; }

    // Overview
    Alt+Space { toggle-overview; }

}
