@import "catppuccin_frappe.css";

* {
    font-family: "SauceCodePro Nerd Font", monospace;
}

window#waybar {
    color: #cccccc;
    background: @surface1;
}

#workspaces button {
	border-radius: 25px;
    margin: 5px;
    padding: 7px 20px 0px 20px;
    background: @base;
    color: @text;
	font-size: 20px;
	font-weight: bold;
}

#workspaces button.focused {
    background: #7aa2f7;
	color: @base;
}

#workspaces button.persistent {
    background: @overlay0;
    color: @text;
	font-weight: bold;
}



#custom-clock_icon {
    margin: 0px 5px 0px 5px;
    color: @text;
    font-size: 18px;
    font-weight: bold;
}

#clock {
	border-radius: 25px;
    margin: 5px;
    padding: 7px 20px 0px 20px;
    background: @overlay0;
    color: @text;
	font-size: 18px;
	font-weight: bold
}

#custom-calendar_icon{
    color: @text;
    margin: 0px 10px 0px 20px;
    font-size: 18px;
    font-weight: bold;
}

#custom-backlight_icon{
    color: @text;
    margin: 0px 10px 0px 20px;
    font-size: 18px;
    font-weight: bold;
}

#backlight {
	border-radius: 25px;
    margin: 5px;
    padding: 7px 20px 0px 20px;
    background: @overlay0;
    color: @text;
	font-size: 18px;
	font-weight: bold;
}


#battery {
	border-radius: 25px;
    margin: 5px 5px 5px 0px;
    padding: 7px 20px 0px 20px;
    background: @overlay0;
    color: @text;
	font-size: 18px;
	font-weight: bold;
}

#battery.icon {
	border-radius: 0px;
    margin: 5px 20px 5px 20px;
    padding: 0px 0px 0px 0px;
    background: @surface1;
    color: @text;
	font-size: 18px;
	font-weight: bold;

}
