* {
    font-family: "SauceCodePro Nerd Font", monospace;
}

window#waybar {
	border-radius: 0px;
    color: #cccccc;
    background: #858585;
}

#workspaces button {
	border-radius: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
	padding-left:5px;
	padding-right: 5px;
	margin-bottom: 10px;
    margin-left: 6px;
	margin-right: 6px;
    background: #333333;
    color: #cccccc;
	font-size: 25px;
	font-weight: bold;
}

#workspaces button.focused {
    background: #D8DEE9;
	color: #333333;
}

#workspaces button.persistent {
    padding-top: 10px;
    padding-bottom: 10px;
	padding-left:3px;
	padding-right: 3px;
    background: #666666;
    color: #cccccc;
	font-weight: bold;
}

#clock {
	border-radius: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
	padding-left: 5px;
    padding-right: 5px;
	margin-top: 10px;
	margin-left: 6px;
	margin-right: 6px;
    background: #666666;
    color: #cccccc;
	font-size: 22px;
	font-weight: bold
}

#clock.date {
	border-bottom-left-radius: 17px; 
	border-bottom-right-radius: 17px;
	border-top-left-radius: 0px;   
	border-top-right-radius: 0px;  
    padding-bottom: 10px;
    padding-top: 0px;
	padding-left: 3px;
    padding-right: 3px;
	margin-top: 0px;
	margin-left: 6px;
	margin-right: 6px;
    background: #666666;
    color: #cccccc;
	font-size: 22px;
	font-weight: bold
}

#custom-day {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 17px;
	border-top-right-radius: 17px;
    padding-top: 10px;
    padding-bottom: 0px;
	padding-left: 3px;
    padding-right: 3px;
	margin-top: 10px;
	margin-left: 6px;
	margin-right: 6px;
    background: #666666;
    color: #cccccc;
	font-size: 22px;
	font-weight: bold
}

#battery {
	border-radius: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
	padding-left:3px;
	padding-right: 3px;
	margin-bottom: 10px;
	margin-left: 6px;
	margin-right: 6px;
    background: #666666;
    color: #cccccc;
	font-size: 22px;
	font-weight: bold;
}
